body{
    font-family: 'Montserrat', sans-serif;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.inner_slide{
    position: relative;
    width: 100%;
    height: 100%;
}
.bg_slider{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
}

.gallery{
    display: flex;
}

.left {
	width:50%;
    height:100vh;
    /* outline:1px solid purple; */
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.right {
    width:50%;
}

.truck_desc{
    margin:auto;
	width:60%;
}

.desktopContentSection {
	min-height:100vh;
	/* outline:1px solid green; */
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.truck_photos{
    width: 100%;
    height: 100%;
	position:relative;
	overflow:hidden;
}

.truck_photo{    
    position:absolute;
    width:100%;
    height:100%;
}

.truck_photo img{
    height: 100%;
}
.m31 img{
    transform: translateX(-700px);
}
.m32 img{
    transform: translateX(-700px);
}
.m33 img{
    transform: translateX(-300px);
}
.m34 img{
    transform: translateX(-600px);
}
.bg_black{
    background-color: #0f0f0f;
}
.historia-imagen{
    height: 500px;
    background-image: url('../img/historia.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.historia-imagen img{
    height: 100%;
    object-fit: cover;
}
.unidades-mobile{
    display: none;
}
@media screen and (max-width: 600px) {
    .gallery{
        display: none;
    }
    .unidades-mobile{
        display: block;
    }
    .footer_links {
        text-align: start !important;
    }
}

.carousel-text{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 1.25em;
}

.contacto{
    background-color: #0f0f0f ;
}
