{% extends "plantillas/base.html" %}

{% block content %}
{% load template_filter %}
<div class="pt-4 pb-2 px-4 mx-auto">
    <h3>Mis Cuotas</h3>
</div>
<div class="container-fluid px-4">
    <p>Filtro por años</p>
    <a class="btn btn-success">2023</a>
    <a class="btn btn-success">2024</a>
    <div class="row g-4 mt-3">
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Mes</th>
                        <th scope="col">Fecha Pago</th>
                        <th scope="col">Nº Comprobante</th>
                        <th>Ver Detalle</th>

                    </tr>
                </thead>
                <tbody>
                    {% if empty %}
                    <div class="badge bg-danger text-wrap" style="width: 10rem;">
                        Aún no se han cargado archivos.
                    </div>
                    {% else %}

                    {% for key, value in cuotas.items %}
                    <tr>
                        <th scope="row">{{ key }}</th>
                        {% if value == 'empty'%}
                        <td>Por Pagar</td>
                        <td></td>
                        <td></td>
                        {% else %}
                        <td>{{ value.fecha_ingreso }}</td>
                        <td>{{ value.numero_comprobante }}</td>
                        {% if perms.intranet.check_licencias %}
                        <td><a href="#" onclick="eliminarDocumento({{ obj.id }})" class="btn btn-success btn-sm">Ver
                                Detalle</a></td>
                        {% endif %}
                        {% endif %}
                    </tr>
                    {% endfor %}

                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

{% block js %}

<script>

    function eliminarDocumento(id) {
        Swal.fire({
            "title": "Está seguro que desea eliminar este documento?",
            "text": "Esta acción no se puede deshacer",
            "icon": "question",
            "showCancelButton": true,
            "confirmButtonColor": "darkred"
        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = `/tercera/documentos/delete/${id}`
                }
            })
    }

</script>

{% endblock %}

{% endblock %}