{% load static %}
    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a href="index.html" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>BombaLandeta</h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="{{ request.user.bombero.imagen.url }}" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0">{{ user.get_full_name  }}</h6>
                    <span>Bombero</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <div class="nav-item dropdown">
                    <a href="{% url 'citaciones_list' %}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-calendar-week"></i>Citaciones</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="{% url 'citaciones_list' %}" class="dropdown-item">Ver Citaciones</a>
                        {% if perms.intranet.add_citacion %}
                            <a href="{% url 'citaciones_post' %}" class="dropdown-item">Crear Citación</a>
                        {% endif %}
                        
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="{% url 'citaciones_list' %}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-signature"></i>Licencias</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="{% url 'licencia_list' %}" class="dropdown-item">Ver Mis Licencias</a>
                        <a href="{% url 'licencia_list_historico' %}" class="dropdown-item">Historial Licencias</a>
                        
                        {% if perms.intranet.check_licencias %}
                            <a href="{% url 'licencia_revisar' %}" class="dropdown-item">Revisar Licencias</a>    
                        {% endif %}
                        
                    </div>
                </div>
                {% if perms.intranet.add_documento %}
                    <a href="{% url 'all_tipos_documentos' %}" class="nav-item nav-link"><i class="fas fa-file-archive"></i>Tipos Documentos</a>
                    <a href="{% url 'post_documento' %}" class="nav-item nav-link"><i class="fas fa-file-archive"></i>Subir Documentos</a>
                {% endif %}
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-file-word"></i>Documentos</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        {% for tipo in tipos_documento %}
                            <a href="{% url 'list_documento' %}?type={{tipo.slug}}" class="dropdown-item text-wrap">{{tipo}}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-file-word"></i>Cuotas</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="#" class="dropdown-item text-wrap">Mis cuotas</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Elements</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="button.html" class="dropdown-item">Buttons</a>
                        <a href="typography.html" class="dropdown-item">Typography</a>
                        <a href="element.html" class="dropdown-item">Other Elements</a>
                    </div>
                </div>
                <a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Widgets</a>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->
    
    
