{% extends "plantillas/base.html" %}
{% block content %}
<div class="p-4 mx-auto">
    <h5>Current Date: {{ current_datetime.date }} {{ current_datetime.time }}</h5>
    <h3>Revisar Licencias</h3>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Citación</th>
                        <th scope="col">Fecha Citación</th>
                        <th></th>
                        
                    </tr>
                </thead>
                <tbody>
                        {% for obj in citaciones %}
                        <tr>
                            <th scope="row">{{ obj.id }}</th>
                            <td>{{ obj.nombre }}</td>
                            <td>{{ obj.fecha|date:"M d, Y" }}</td>
                            <td><a href="">Ver licencias</a></td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    

{% endblock %}
